<template>
    <div class="row">
        <div class="col-12 ">
            <div class="card mt-2 ">
                <div class="card-header bg-custom text-white py-0">
                    <h4 class="text-center mt-1">Configuracion</h4>
                </div>
                <div class="card-body ">
                    <div class="form-group">
                        <label for="typeLayout">Tipo de estilo</label>
                        <select  class="form-control" id="typeLayout" v-model="layoutType" >
                            <option value="horizontal">horizontal</option>
                            <option value="vertical">vertical</option>
                            <option value="circular">Circular</option>
                        </select>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 " >
            <div class="card mt-2">
                <div class="card-body"  v-if="loading">
                    <tree :data="refer" node-text="name" :layoutType="layoutType" style="min-height: 600px;">
                    </tree>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {tree} from 'vued3tree'
    export default {
        props:['user', 'url'],
        components: {
            tree
        },
        data(){
            return{
                layoutType:'horizontal',
                refer:[],
                loading: false,
                id:0,
                treeData: {
                    name: "father",
                    children:[{
                        name: "son1",
                        children:[ {name: "grandson", id: 1}, {name: "grandson2", id: 2}]
                    },{
                        name: "son2",
                        children:[ {name: "grandson3", id: 3}, {name: "grandson4", id: 4}]
                    }]
                },
                links: [
                    {source: 3, target: 1, type: 1},
                    {source: 3, target: 4, type: 2}
                ],
                linkTypes: [
                    {id: 1, name: 'depends', symmetric: true},
                    {id: 2, name: 'implement', inName: 'implements', outName: 'is implemented by'},
                    {id: 3, name: 'uses', inName: 'uses', outName: 'is used by'},
                ]

            }
        },
        methods:{

            getReferral(){
                axios.get(this.url +'api/all-tree/'+this.user.id)
                    .then(response =>{
                        this.refer = response.data;
                        this.loading = true;
                    })
            }
        },
        created() {
            this.getReferral();
        }
    }
</script>

<style scoped>
</style>